page-section {
  ion-content{
    background: url("../../assets/imgs/gavelonblack.jpg") !important;
    color: #f5f5f5 !important;
  }

  .section-label{
    background: #0000dd !important;
  }

  .section-content{
    background: #0000ef;
  }

  .subsection-label{
    background: #0000cc;
  }
  .subsection-content{
    background: #0000dd !important;
  }

  .paragraph-label{
    background: #0000ef;
  }

  .paragragh-content{
    background: #0000cc;
  }
}
